@import url('../style/footer.css');
@import url('../style/ayuda.css');
@import url('../style/index.css');

section{
    height: auto;
}

.products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
}

.card-product{
    width: 90%;
}

@media(min-width:1200px){
    .card-product{
        width: 30%;
    }

    .products{
        padding: 2rem 0;
        gap: 15px;
    }

    .main-title{
        width: 60%;
    }
}
